/** Styles for home **/
body {
 width: 100%;
 margin:0;
 font-family: verdana;
}
.container{
    background-image: url('./images/fitness.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.header{
    flex:1;
}

/** Styles for nav **/

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(34, 34, 34, 0.2);
  } 
  .navbar ul li{
      list-style-type: none;
      display: inline;
      margin:5px;
  }
  .navbar ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 17px;
  }
  .logo{
    flex:1;
    align-self: center;
    text-decoration: none;
}

.navbar a:link{
    font-size: 18px;
    font-family: verdana;
}

a:visited {
    color: white;
}
  .home-content{
    margin-bottom: 0px;
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}
.home-content h1{
    color:#ffffff;
}
.register-btn{
    color:#ffffff;
    padding: 12px 10px;  
    background-color:#3CB371; 
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none; 
    border:2px solid #ffffff;
}
.register-btn:hover{
    background-color:#137c42; 
}
/** Styles for about section**/
.about{
    margin: 10px 20px;
    padding:40px 80px;
}
.home-goals{
    color:#333333; 
}
 .about p{
    color:#555555;
    font-size: 17px;
    line-height: 1.5;
 }
/** Styles for footer **/
 .footer{
    padding: 10px;
    text-align: center;
    background-color: #3CB371;
    color:#f5f5f5;
}

.footer p small{
   display:center;
   font-family: verdana;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

/** Styles for Dashboard **/

div.container_dashboard {
    width: 100%;
}
.dashboard {
    float: left;
    background-color:#f5f5f5;
    width: 160px;
    height: 600px;
    margin: 0;
    padding: 1em;
}
.dashboard nav ul{
    text-decoration: none;
    padding: 0;
}
.dashboard nav ul a{
    text-decoration: none;
}

.logout{
    color: blue;
    background-color: blue;
}
.main-nav a{
    text-decoration: none;
}


.login{
    color: white;
}

/* .home-content a{
    text-decoration: none;
    background-color:transparent; 
    color: #008B8B; 
    border: 2px solid #fff;
    padding: 14px 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
} */

.home-button a:hover{
    color: transparent;
}
.main-nav ul {
	width:100%;
}

.main-nav a {
	display: inline-block;
	text-align: center;
	margin-left: 5px;
    margin-right: 5px;
}

.main-nav ul {
	float: right;
	text-align: right;
}

.img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-bottom: 0px;
    width: 500px;
    height: 600px;
    border-bottom-style:10px  solid green;
}
.border{
        border-bottom-style:10px  solid green;
}
form {
    font-family: verdana;
}

.clearfix{
    color: blue;
    padding: 10px;
    position: center;
}

#wrapper {
    width: 1000px;
    background-color: #fff;
    margin: 0px auto;
    min-height: 400px;
    margin-top: 40px;
}

#error{
    width: 1000px;
    margin: 0px auto;
}

#menu{
    width: 990px;
    margin: 0px auto;
    text-align: center;
}

#menu a{
    text-decoration: none;
    display: inline-block;
    color: #666;
    padding: 10px;
    background-color: pink;
}

#menu a:hover{
    color: #099;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: verdana;
}
#survey{
    color: red;
    font-weight: bold;
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: verdana;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Add padding to containers form styles */
.emailForm{

    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}
/**Styles for Register form **/
#logo-color{
    margin: 10px;
}
.navbar-register{
    flex:1;
}
.register-nav{
    float: right; 
    padding: 5px; 
    background-color:#3CB371; 
    color:#555; 
    border-radius: 5px;
    text-decoration: none; 
    font-weight: bold;
    list-style-type: none;
    flex-direction: column;
}
.register-container{
    align-content: center;
}
.registerForm{
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}
textarea{
    height:100px;
}

form{
    padding-bottom: 20px;
}
/** styles for social media **/
.social [class*="fa fa-"] {
    /* background-color: #333; */
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 30px;
    margin: auto 3px;
    width: 28px;
    font-size: 15px;
    text-align: center;
}
.fa {
  /* padding: 15px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  margin: 5px 2px; */
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.9em 1em;
  margin: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

